// // @layer components {
// //     .page-banner {
// //         &--title {}

// //         &--container {}

// //         &--inner-container {}

// //         &---image {
// //             @apply sm:text-sm md:text-base lg:text-lg;
// //         }

// //         &--background {
// //             @apply absolute left-0 top-0 right-0 bottom-0 -z-[1] h-[50vh] md:h-[60vh] lg:h-screen min-h-[720px] bg-top bg-cover bg-no-repeat bg-hero-pattern;
// //             // @apply absolute left-0 top-0 right-0 bottom-0 -z-[1] h-screen bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-red-200 via-indigo-700 to-green-400;
// //         }
// //     }
// // }

// @layer components {
//     .page-banner {
//         &--container {
//             @apply relative;
//         }

//         &--image {
//             @apply relative;

//             img {
//                 @apply w-full h-auto; // Make the image responsive
//             }
//         }

//         &--background {
//             @apply absolute left-0 top-0 right-0 bottom-0 -z-[1] h-[50vh] md:h-[60vh] lg:h-screen min-h-[720px] bg-top bg-cover bg-no-repeat bg-hero-pattern;
//         }

//         ul {
//             bottom: 5px;
//             left: 10px; // Default value for mobile
//             @apply absolute text-xs text-green-100 z-10;

//             @media (min-width: 768px) {
//                 left: 20px; // Adjust for tablet
//             }

//             @media (min-width: 1024px) {
//                 left: 40px; // Adjust for desktop
//             }
//         }
//     }
// }

@layer components {
    .page-banner {
        &--image {
            ul {
                @apply absolute z-10;

                @media (min-width: 640px) {
                    left: 10px; // For small screens
                }

                @media (min-width: 768px) {
                    left: 20px; // For tablet
                }

                @media (min-width: 1024px) {
                    left: 40px; // For desktop
                }
            }
        }
    }
}